@font-face {
  src: url('content/fonts/BergstenaDecorated.otf');
  font-family: 'Bergstena';
  font-style: normal;
}

@font-face {
    src: url('content/fonts/Blackhunter.ttf');
    font-family: 'Blackhunter';
    font-style: normal;
}

@font-face {
    src: url('content/fonts/Brunine.ttf');
    font-family: 'Brunine';
    font-style: normal;
}

html {
    background-color:rgb(236, 236, 236);
}

h1 {
    color:dimgray;
    font: 2rem Bergstena;
    the-mark {
        color:rgb(20, 20, 20);
        font: 4rem Blackhunter;
    }
}

h2 {
    color:dimgray;
    font: 1.5rem Brunine;
}

a {
    color:black;
}

.about {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 12px;
}

.menu {
    background-color: transparent;
    border: none;
}

.fdate {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
}